body {
    background-color: #202124;
    height: 100vh;
    max-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

.navigation-buttons {
  display: flex
}

.navi-link{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.navi-link:hover {
    text-decoration: underline;
}

.profile-img {
    border-radius: 30px;
}
.profile-img:hover {
    background-color: #515151;
    cursor: pointer;
}

.gb-fe {
    width: 24px;
    height: 24px;
}

.gb-fe:hover {
  background-color: #515151;
  cursor: pointer;
}

#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#barra {
    z-index: 1;
    width: 550px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: solid 1px;
    border-color: #b8b8b8;
}

#search_button {
    z-index: 2;
    position: relative ;
    height: 20px;
    width: 20px;
    right: 540px;
}