body {
    background-color: #202124;
    height: 100vh;
    max-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

nav div {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.navi-link:hover {
    text-decoration: underline;
}

.navi-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.navi-image:hover {
    background-color: #515151;
}

.gb-fe {
    width: 24px;
    height: 24px;
}

.gb-fe:hover,.navi-image:hover{
    background-color: #515151;
    border-radius: 50%;
    
}

#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#barra {
    z-index: 1;
    width: 550px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: solid 1px;
    border-color: #b8b8b8;
}

#search_button {
    z-index: 2;
    position: relative ;
    height: 20px;
    width: 20px;
    right: 540px;
}
