.page1 {
    border: none;
    background: #ffff;
    
}

.page2 { 
    border: none;
    background: #ffff;
    color: #2babff;
    font-weight: bold;
    border-bottom: solid 3px #2babff;
}

#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#barra {
    z-index: 1;
    width: 550px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: solid 1px;
    border-color: #b8b8b8;
}

#search_button {
    z-index: 2;
    position: relative ;
    height: 20px;
    width: 20px;
    right: 540px;
}

.container-1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    width: 150;
    height: 30;
}
